body {
    font-family: Arial, sans-serif;
    background-image: url("https://c8.alamy.com/comp/H8B26X/framing-of-green-leaves-plants-on-a-white-background-view-from-above-H8B26X.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 500px;
    margin: 300px auto;
    background-color: rgba(255, 255, 255, 0.8); /* Added opacity */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

input[type="file"] {
    display: none;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
